body {
	margin: 0;
	font-size: 12pt;
}

a {
	text-decoration: none; /*remove underline*/
}

header {
	background-color: black;
	padding: 5px 20px 0 5px;
}

header h1 {
	color: inherit;
	margin: 0;
}

/* header h1 li a:hover {
	text-decoration: none;
} */

.banner-list {
	font-family: 'Noto Sans', sans-serif;
	list-style-type: none; /*remove bullet list*/
	color: white;
	padding: 0;
	margin: 0 20px;
	margin-bottom: 10px;
}

.banner-item h2 {
	margin: 0;
}

nav {
	background-color: #dc4405;
	color: white;
	font-family: 'Work Sans', sans-serif;
	margin: 0 -20px;  /* negative margin here makes up for header padding */
	font-size: 1.2em;
	font-weight: 200;
}

.navbar-list {
	list-style-type: none; /*remove bullet list*/
	margin: 0 20px;
}

.navbar-item {
	display: inline-block; /*make list along same row*/
	padding: 5px 0px 5px 0px;
}

.burg-butt {
	display: none;
}

@media(max-width: 698px){
	.burg-butt{
		display: inline-block;
		cursor: pointer;
		margin-left: 40px;
		margin-top: 3px;
	}
	.bar1, .bar2, .bar3 {
		width: 35px;
		height: 5px;
		background-color: black;
		margin: 6px 0;
		transition: 0.3s;
		border-radius: 5px;
	}
	.change .bar1 {
		-webkit-transform: rotate(-45deg) translate(-9px, 6px);
		transform: rotate(-45deg) translate(-9px, 6px);
	}
	.change .bar2 {
		opacity: 0;
	}
	.change .bar3 {
		-webkit-transform: rotate(45deg) translate(-8px, -8px);
		transform: rotate(45deg) translate(-8px, -8px);
	}
	.navbar-list {
		display: none;
	}
	.change .navbar-list {
		display: block;
		width: 250px;
	}
	.change .navbar-item {
		display: block;
		margin: 10px 0px;
	}
}

.navbar-item a {
	color: white;
	margin: 10px 20px;

}

.navbar-item:hover {
	background-color: rgba(255,255,255,0.2);
	text-decoration: none;
	transition: background-color 0.3s;
}

.navbar-item a{
	text-decoration: none;
}

main {
	font-family: 'Noto Serif', serif;
	/*display: flex;
	flex-wrap: wrap;*/
	align-items: center;
	padding: 50px 125px;
}

.content {
	/*font-family: 'Noto Serif', serif;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 50px 125px;*/
	margin: 10px 20px;
	/*position: absolute;
	margin: 20px;
	width: 67%;*/
}

/*.content {
	align-items: center;
}*/

.picAndCurrent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.headshot {
	border-radius: 10px;
	border: 1px solid #dc4405;
	height: 300px;
	width: 235px;
	padding: 0px 0px;
	margin-right: 50px;
}

.current {
	font-family: 'Noto Serif', serif;
	/*position: absolute;*/
	border-radius: 10px;
	border: 1px solid #dc4405;
	flex: 1;
	/*margin: 10px 20px;*/
	background-color: white;
	font-weight: 200;
	font-size: 18px;
	padding-left: 20px;
	padding-top: 20px;
	/*min-width: 500px;*/
}

.current h1 {
	margin-bottom: -10px;
}

.current .basics-maj {
	margin-bottom: 0px;
}

.current .basics-foc {
	margin-bottom: 0px;
}

.current .basics-col {
	margin-bottom: 0px;
}

.current .basics-sch {
	margin-bottom: 0px;
}

.stuff {
	font-family: 'Noto Serif', serif;
	/*align-items: center;
	position: relative;*/
	display: block;
	border-radius: 10px;
	border: 1px solid #dc4405;
	min-width: 500px;
	margin-top: 50px;
	padding-left: 20px;
	padding-top: 20px;
}
